
.top-banner{
	position: sticky;
	top: 0;
	height: 80px;
	z-index: 80;
	align-items: center;
	width: 100%;
	display: flex;
	overflow: hidden;
}

header .mini-logo-container a{
	display: block;
	height: 60px;
	width: 177px;
}

header .mini-logo-container a >*{
	pointer-events: none;
}

.noScroll{
	overflow: hidden;
}

.nav-tabs-container{
	position: absolute;
	align-items: center;
	display: -webkit-inline-flex;
 	-webkit-align-items: center;
	right: 0%;
	opacity: 0;
	transition: 1.05s;
}

.mobile-menu{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.nav-tabs{
	font-family: Lato;
	font-style: normal;
	font-size: 0.65em;
	font-weight: 400;
	color: #FFFFFF;
	padding-right: 45px;
}

.nav-tabs:hover{
	color: rgba(255, 255, 255, 0.43);
}

.mobile-menu-container{
	position: absolute;
	display: none;
	right: 33px;
	z-index: 12;
	width: 33px;
	height: 21px;
}

.mobile-line1{
	position: absolute;
	top: 0px;
	margin: 0;
	height: 2px;
	width: 33px;
	background-color: #FFFFFF;
}

.rotate45{
	transform: rotate(45deg);
	transition: all 0.5s ease-out 0s;
}

.mobile-line2{
	position: absolute;
	top: 9px;
	margin: 0;
	height: 2px;
	width: 33px;
	background-color: #FFFFFF;
	display: block;
}

.mobile-line3{
	position: absolute;
	top: 18px;
	margin: 0;
	height: 2px;
	width: 33px;
	background-color: #FFFFFF;
}

.rotate135{
	transform: rotate(-45deg);
	transition: all 0.5s ease-out 0s;
	top: 0px; 
}

.apply-button{
	font-family: Lato;
	font-style: normal;
	font-size: 0.65em;
	font-weight: 400;
	color: #FFFFFF;
	margin-right: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 14.5px;
	padding-left: 14.5px;
	border-radius: 10px;
	border: 1.5px solid #FFFFFF;
}

.apply-button:hover{
	color: #3C130D;
	border: 1.5px solid #3C130D;
	background-color: #FFFFFF;
}

.apply-button-wrapper{
	position: relative;
	align-items: center;
	justify-content: center;
	display: none;
	text-align: center;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.apply-button-mobile{
	font-family: Lato;
	font-style: normal;
	font-size: 0.95em;
	font-weight: 400;
	color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 14.5px;
	padding-left: 14.5px;
	border-radius: 10px;
	border: 1.5px solid #FFFFFF;
	margin: 0 auto;
	position: relative;
	display: inline-block;
}

.mobile-logo{
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 17.5%;
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
}

.mobile-date-wrapper{
	position: relative;
	text-align: center;
	padding-top: 7.5%;
	padding-bottom: 0.5%;
	display: none;
}

.mobile-date{
	text-align: center;
	position: relative;
	font-family: Lato;
	font-style: normal;
	line-height: 125%;
	font-size: 1em;
	font-weight: 350;
	color: #FFFFFF;
}

.bannerbackground{
	background-color: #3C130D;
	opacity: 1;
	transition: 1.05s;
}

.bannerbackground-out{
	background-color: none;
	opacity: 1;
	transition: 1.05s;
}

.mini-logo-container{
	position: absolute;
	left: 0%;
	align-items: center;
	height:60px;
	width:142px;
	opacity: 0;
	transition: 1.05s;
}

.fade{
	opacity: 1;
	transition: 1.05s;
}

.mini-logo{
	height:60px;
	width:142px;
	margin-left:20px;
}

.mobile-mini-logo{
	height: 37.5px;
	width: 37.5px;
	margin-left: 35px;
	margin-top: 10px;
	display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.landingpage-container{
	margin: auto;
	min-height: 100vh;
	display: block;
	width: 100%;
	position: relative;
	justify-content: center;
	background-color: #3C130D;
}

.landingpage-logo-wrapper{
	padding-top: 7.5%;
	padding-right: 12.5%;
	padding-left: 5%;
	padding-bottom: 7.5%;
	width: 100%;
	position: relative;
	justify-content: center;
	animation: fadein 3s;
}

@keyframes fadein {
	from {opacity:0;}
	to{opacity: 1;}
}

.logo{
	padding-top: 5%;
	padding-left: 15%;
	padding-right: 10%;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
}

.location-wrapper{
	width: 100%;
	justify-content: center;
	position: relative;
	padding-top: 2.5%;
}

.location{
	text-align: center;
	position: relative;
	font-family: Lato;
	font-style: normal;
	line-height: 125%;
	font-size: 1.5em;
	font-weight: 350;
	color: #FFFFFF;
}

.location:hover{
	color: rgba(255, 255, 255, 0.43);
}
