body{
	margin: 0px;
	border: 0px;
}
html {
	font-size: calc(1em + 1vw);
}

* {
	box-sizing: border-box;
}

* {
	text-decoration: none;
}

/*.background-image-container{
	background-image: url(images/LandingPicture.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 70% 0%;
	background-attachment: fixed;
	
	min-height:100vh;
	width: 100%;
	position: relative;
	display: block;
	justify-content: center;
}
.tint-container{
	background-image: url(images/darkfilter.svg), url(images/gradient.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	min-height: 100vh;
	width: 100%;
	position: relative;
	display: block;
	justify-content: center;
}*/

.background-image-container{
	
}

.background-image-container:after{
	content:"";
	position:fixed;
	top:0;
	min-height:100vh; 
	left:0;
	right:0;
	z-index:-1; 
	background-image: url(images/LandingPicture.png), url(images/darkfilter.svg), url(images/gradient.svg);
	background-attachment: center;
	background-position: 70% 0%;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.tint-container{
	background-image: url(images/darkfilter.svg), url(images/gradient.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	width: 100%;
	position: relative;
	display: block;
	justify-content: center;
}

@media only screen and (max-width: 1080px){
	
	/*Top Banner*/
	.nav-tabs{
		padding-right: 20px;
		width: auto;
	}
	
	.landingpage-logo-wrapper{
		padding-right: 20%;
		padding-left: 10%;
	}

	.location{
		font-size: 1.25em;
	}

	.keynote-role{
		font-size: 1.75em;
		padding-top: 150px;
	}

	.keynote-name{
		font-size: 1.25em;
	}


	
	.support-box-top{
		margin-top: 5%;
	}

	.supporttxt{
		font-size: 1em;
		padding-bottom: 3.5%;
		padding-top: 3.5%;
	}

	.company-logo{
		padding-left: 15%;
		padding-right: 15%;
		padding-top: 5%;
		padding-bottom: 5%;
		width: 100%;
	}

	.company-logo3{
		padding-right: 2%;
		padding-left: 2%;
		padding-top: 9%;
		padding-bottom: 9%;
	}

	.company-logo-wrapper1{
		padding-top: 1%;
		padding-bottom: 3%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 50%;
	}

	.support-box{
		display: block;
	}

	.company-logo-wrapper2{
		flex-direction: column;
	}

	.pitch-box-1{
		height: 270px;
	}

	.pitch-box-2{
		height: 270px;
	}
	.schedule-subsection-line{
		height: 55px;
	}
}

@media only screen and (max-width: 700px){

	header .mini-logo-container a{
		height: 60px;
		width: 85px;
	}

	.top-banner{
		height: 60px;
	}

	.nav-tabs-container{
		position: relative;
		display: none;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 300px;
		align-items: center;
		-webkit-box-align: center;
	}

	.nav-tabs{
		padding-right: 0px;
	}

	.apply-button{
		margin-right: 0px;
	}

	.mobile-menu-container{
		display: inline-flex;
	}

	.apply-button-wrapper{
		display: block;
	}

	.landingpage-logo-wrapper{
		padding-top: 10%;
		padding-right: 10%;
		justify-content: center;
	}

	.logo{
		display: none;
	}

	.mobile-logo{
		display: inline-block;
	}

	.mini-logo{
		display: none;
	}

	.mobile-mini-logo{
		display: inline-block;
		margin-left: 20px;
	}

	.mobile-date-wrapper{
		display: block;
	}

	.location{
		font-size: 1.05em;
	}

	.about-box::before {
		height: 60px;
		margin-top: -60px;
	}

	.schedule-box::before {
		height: 60px;
		margin-top: -60px;
	}

	.speaker-box::before {
		height: 60px;
		margin-top: -60px;
	}

	.supports-box::before {
		height: 60px;
		margin-top: -60px;
	}

	.company-logo{
		padding-left: 20%;
		padding-right: 20%;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	.company-logo3{
		padding-right: 15%;
		padding-left: 15%;
		padding-top: 9%;
		padding-bottom: 9%;
	}
	
	.pitch-level-txt-1{
		width: 100%;
		margin-left: 7%;
	}

	.pitch-level-txt-2{
		width: 100%;
		margin-left: 7%; 
	}

	.pitch-box-1{
		margin-left: 7%;
	}

	.pitch-box-2{
		margin-left: 7%;
		margin-right: 7%;
	}

	.pitch-box-top-2{
		margin-right: 7%;
	}

	.pitch-support-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.pitch-support-place{
		width: 100%;
	}

	/*.bottom-banner{
		height: 150px;
	}

	.bottom-container{
		padding-top: 17.5px;
		height: auto;
		flex-direction: column;
	}*/

	.icon-wrapper{
		position: relative;
		right: 0%;
	}

	.pitch-box-1{
		height: auto;
	}
	.pitch-box-2{
		height: auto;
	}

	.pitch-company-logo2{
		position: relative;
		top: 0;
	}
	.schedule-subsection-line{
		height: 47px;
	}

	.row-speakers-wrapper{
		display: flex;
		flex-direction: column;
		padding-bottom: 0;
		padding-top: 0;
	}

	.desktop-speaker-container{
		display: none;
	}

	.speaker-wrapper{
		width: 100%;
		padding-top: 5%;
		padding-left: 7%;
		padding-right: 0%;
	}

	.speaker-wrapper > *{
		pointer-events: none;
	}

	.speaker-role{
		font-size: 1em;
		padding-bottom: 15px;
		padding-top: 10px;
	}

	.speaker-name{
		font-size: 0.85em;
	}

	.speaker-position{
		font-size: 0.75em;
	}

	.speaker-bio-wrapper{
		margin-left: 7%;
	}

	.arrow-wrapper{
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.arrow-wrapper-open{
		position: absolute;
		bottom: 0px;
	}

}

@media only screen and (max-width: 500px){

	/*.background-image-container{
		 background-image:url(images/LandingPicturemobile.svg);
	}
	/* Landing Page Section */

	

	.landingpage-logo-wrapper{
		padding-top: 30%;
	}

	.logo{
		padding-left: 0%;
		padding-right: 5%;
		padding-top: 0%;
	}

	.apply-button-wrapper{
		padding-top: 5%;
	}

	.mobile-date-wrapper{
		padding-top: 12.5%;
	}

	/* supports Section */
	
	.support-box-top{
		margin-top: 6%;
	}
	
	.pitch-company-logo{
		padding-top: 7.5%;
		padding-bottom: 8.5%;
	}
	
	/* About Section */
	.about-subsection-box{
		margin-left: 0%;
		width:100%;
	}
	.about-subsection-title{
		padding-top: 5%;
		padding-bottom: 5%;
	}

	/* Schedule Section */
	.schedule-subsection-box{
		margin-left: 0%;
		width:100%;
	}
	.schedule-subsection-line{
		height: 42px;
	}

	.speaker-role{
		font-size: 0.875em;
		padding-bottom: 15px;
		padding-top: 10px;
	}

	.speaker-name{
		font-size: 0.775em;
	}

	.speaker-position{
		font-size: 0.675em;
	}
}

@media only screen and (max-width: 325px){
	.landingpage-logo-wrapper{
		padding-top: 60%;
	}
	.schedule-subsection-line{
		height: 40px;
	}
	
	.support-box-top{
		margin-top: 7%;
	}
}
