
.speaker-box{
	width: 100%;
}

.speaker-container{
	background-image: url(images/darkfilter.svg), url(images/gradient.svg);
	background-color: rgba(0,0,0,0.43);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	position: relative;
	justify-content: center;
	min-height: 100vh;
	display: block;
}

.speaker-title-wrapper{
	padding-top: 2.5%;
}

.desktop-speaker-container{
	display: flex;
	width: 100%;
}

.speaker-title{
	text-align: left;
	position: relative;
	font-family: Lato;
	font-style: normal;
	font-size: 1.75em;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 7%;
	line-height:74px;
	padding-bottom: 1.5%;
}

.row-speakers-wrapper{
	padding-top: 2.25%;
	padding-bottom: 2.25%;
	display: none;
	padding-right: 4%;
}

.column-one-speakers-wrapper{
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-left: 7%;
}

.column-two-speakers-wrapper{
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-right: 3.5%;
	padding-left: 3.5%;
}

.speaker-wrapper{
	width: 100%;
	padding-left: 3.5%;
	padding-right: 3.5%;
	display: flex;
	padding-top: 33px;
	z-index: 15;
}

.speaker-wrapper-col1{
	width: 100%;
	padding-left: 3.5%;
	padding-right: 3.5%;
	display: flex;
	padding-top: 5%;
	z-index: 15;
}

.speaker-wrapper:hover{
	cursor: pointer;
	color: rgba(84, 25, 17, 0.87);
}

.speaker-wrapper-col2{
	width: 100%;
	padding-left: 3.5%;
	padding-right: 3.5%;
	display: flex;
	padding-top: 5%;
	z-index: 15;
}

.speaker-wrapper-col2:hover{
	cursor: pointer;
}

.speaker-img{
	width: 125px;
	height: 150px;
}

.speaker-img:hover{
	cursor: pointer;
}

.speaker-info-wrapper{
	width: 100%;
	height: 150px;
	position: relative;
	background-color: rgba(0,0,0,1);
	padding-bottom: 10px;
}

.speaker-info-wrapper:hover{
	cursor: pointer;
	background-color: rgba(84, 25, 17, 0.87);
}

.speaker-role{
	position: relative;
	font-family: Lato;
	font-style: normal;
	font-size: 0.8em;
	font-weight: 500;
	color: #FFFFFF;
	width: 100%;
	padding-top: 10px;
	padding-left: 25px;
	padding-bottom: 10px;
}

.speaker-spec-wrapper{
	width: 100%;
	padding-left: 25px;
}

.speaker-name{
	position: relative;
	font-family: Lato;
	font-style: normal;
	font-size: 0.7em;
	font-weight: 500;
	color: #FFFFFF;
}

.speaker-position{
	position: relative;
	font-family: Lato;
	font-style: normal;
	font-size: 0.6em;
	font-weight: 300;
	color: #FFFFFF;
}

.speaker-bio-wrapper{
	width: 93%;
	margin-left: 3.5%;
	margin-right: 3.5%;
	max-height: 0px;
	height: auto;
	display: block;
	overflow: hidden;
	transition: max-height 1.15s ease-in-out;
	background-color: rgba(0,0,0,1);
	position: relative;
}

.speaker-bio-wrapper-col1{
	width: 93%;
	margin-left: 3.5%;
	margin-right: 3.5%;
	max-height: 0px;
	height: 366px;
	display: block;
	overflow: hidden;
	transition: max-height 1.15s ease-in-out;
	background-color: rgba(0,0,0,1);
	position: relative;
}

.speaker-bio-wrapper-col2{
	width: 93%;
	margin-left: 3.5%;
	margin-right: 3.5%;
	max-height: 0px;
	height: 366px;
	display: block;
	overflow: hidden;
	transition: max-height 1.15s ease-in-out;
	background-color: rgba(0,0,0,1);
	position: relative;
}

.speaker-bio{
	position: relative;
	font-family: Lato;
	font-style: normal;
	font-size: 0.7em;
	color: #FFFFFF;
	text-align: justify;
	padding: 17.5px;
	padding-top: 20px;
}

.arrow-wrapper-col1{
	width: 100%;
	position: absolute;
	display: inline-flex;
	height: 25px;
	bottom: 15px;
}

.arrow-wrapper-col1 >*{
	pointer-events: none;
}

.arrow-wrapper-col2 >*{
	pointer-events: none;
}

.arrow-wrapper-col2{
	width: 100%;
	position: absolute;
	display: inline-flex;
	height: 25px;
	bottom: 15px;
}

.arrow-wrapper{
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	height: 25px;
}

.arrow-wrapper:hover{
	cursor: pointer;
}

.arrow-wrapper-col1:hover{
	cursor: pointer;
}

.arrow-wrapper-col2:hover{
	cursor: pointer;
}

.arrow-left{
	position: absolute;
	top: 0;
	right: 40px;
	height: 15px;
	width: 3.5px;
	transform: rotate(45deg);
	background-color: rgba(255,255,255,1);

	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse 2s infinite;
}

.arrow-right{
	position: absolute;
	top: 0;
	right: 31px;
	height: 15px;
	width: 3.5px;
	transform: rotate(-45deg);
	background-color: rgba(255,255,255,1);

	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse 2s infinite;
}

.arrow-right-open{
	position: absolute;
	top: 0;
	right: 31px;
	height: 15px;
	width: 3.5px;
	transform: rotate(45deg);
	background-color: rgba(255,255,255,1);

	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse 2s infinite;
}

.arrow-wrapper-open{
	position: relative;
	width: 100%;
	height: 25px;
	display: block;
	opacity: 1;

	transition: opacity 1.5s ease-in-out;
}

.arrow-left-open{
	position: absolute;
	top: 0;
	right: 40px;
	height: 15px;
	width: 3.5px;
	transform: rotate(-45deg);
	background-color: rgba(255,255,255,1);

	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0  rgba(255, 255, 255, 0.45);
	}

	70%{
		box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
	}

	100%{
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.open{
	max-height: 1000px;
	display: block;
}

.hide{
	/*max-height: 0;*/
	opacity: 0;
}

.speaker-padding{
	height: 35px;
}

.speaker-box::before{
	display: block; 
	content: " "; 
	margin-top: -80px; 
	height: 80px; 
	visibility: hidden; 
	pointer-events: none;
}