
.speaker-box{
	width: 100%;
}

.speaker-container{
	background-image: url(images/supportfilter.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	position: relative;
	justify-content: center;
	min-height: 100vh;
	display: block;
}

.speaker-title-wrapper{
	padding-top: 2.5%;
}

.speaker-title{
	text-align: left;
	position: relative;
	font-family: Lato;
	font-style: normal;
	font-size: 1.75em;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 7%;
	line-height:74px;
	padding-bottom: 1.5%;
}

.keynote-wrapper{
	width: 100%;
	padding-top: 2.25%;
	padding-bottom: 2.25%;
	padding-right: 4%;
}

.row-speakers-wrapper{
	padding-top: 2.25%;
	padding-bottom: 2.25%;
	display: flex;
	padding-right: 4%;
}

.speaker-wrapper{
	width: 50%;
	padding-left: 7%;
	display: flex;
	padding-top: 1.25%;
	z-index: 15;
}

.speaker-wrapper > *{
	pointer-events: none;
}

.speaker-wrapper1 > *{
	pointer-events: none;
}

.speaker-img{
	width: 125px;
	height: 100%;
	z-index: 10;
}

.speaker-info-wrapper{
	border-top: 4.5px solid rgba(255, 255, 255, 0.43);
	border-right: 4.5px solid rgba(255, 255, 255, 0.43);
	border-bottom: 4.5px solid rgba(255, 255, 255, 0.43);
	width: 100%;
}

.speaker-role{
	position: relative;
	font-family: Lato;
	font-style: normal;
	font-size: 0.8em;
	font-weight: 500;
	color: #FFFFFF;
	width: 100%;
	padding-top: 10px;
	padding-left: 25px;
	padding-bottom: 10px;
}

.speaker-spec-wrapper{
	width: 100%;
	padding-left: 25px;
}

.speaker-name{
	position: relative;
	font-family: Lato;
	font-style: normal;
	font-size: 0.7em;
	font-weight: 500;
	color: #FFFFFF;
}

.speaker-position{
	position: relative;
	font-family: Lato;
	font-style: normal;
	font-size: 0.6em;
	font-weight: 300;
	color: #FFFFFF;
}

.speaker-bio-wrapper{
	width: 93%;
	margin-left: 7%;
	max-height: 0px;
	height: auto;
	display: none;
	overflow: hidden;
	transition: max-height 1.25s linear;
	background-color: rgba(84, 25, 17, 0.4);
}

.keynote-bio-wrapper{
	width: 100%;
	background-color: rgba(84, 25, 17, 0.4);
}

.speaker-bio{
	position: relative;
	font-family: Lato;
	font-style: normal;
	font-size: 0.8em;
	color: #FFFFFF;
	text-align: justify;
	padding: 2.5%;
}

.open{
	max-height: 1000px;
}

.speaker-box::before{
	display: block; 
	content: " "; 
	margin-top: -80px; 
	height: 80px; 
	visibility: hidden; 
	pointer-events: none;
}